/* Existing Styles */
@import url('../../../../_metronic/assets/css/global.css');

.selectPlanImageWrapper {
    padding: 0 0 56px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.selectYouPlanWrapper {
    display: flex;
    width: 100%;
    gap: 24px;
}

.planImageCardWrapper {
    width: 50%;
}

.checkoutCard {
    overflow: hidden;
    border: 2px solid #000;
    height: 100%;
    border-radius: 8px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease-in-out; /* Smooth transition */
    border-radius: 0;
}

.checkoutCard.selected {
    border: 4px solid #000;
}

.checkoutCard.unselected {
    border: 2px solid #000;
    filter: brightness(0.9);
}

.card-img, .card-img-top {
    object-fit: cover;
    transition: opacity 0.3s ease-in-out;
    border-radius: 0;
}

.dimmed-image {
    opacity: 0.5;
}

.cardDetails {
    background: #EAE5E0;
    text-align: center;
    padding: 16px;
}

.planName {
    color: #000;
    font-size: 18px;
    font-weight: bold;
    font-family: Montserrat;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.seeDetails {
    color: #686666;
    text-decoration: underline !important;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

.seeDetails:hover {
    color: #686666;
}

.error-text {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
}

.card .card-body {
    background: #EAE5E0;
}

/* Refined Checkmark Styles */
.selected-checkmark {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background: #fff; /* Transparent background */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden; /* Initially hidden */
    opacity: 0; /* Start with opacity 0 */
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth fade-in */
}

.checkoutCard.selected .selected-checkmark {
    visibility: visible; /* Make the checkmark visible when selected */
    opacity: 1; /* Smoothly fade it in */
}

.selected-checkmark::before {
    content: "✔";
    color: #0AAB65;
    font-size: 28px;
    font-weight: bold;
}

.checkmark-icon {
    display: none;
}
